.root {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: transparent;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;

  &:hover {
    cursor: pointer;
  }

  &.white {
    color: #ffffff;
    border: 1px solid white;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  &.dark {
    color: #333;
    border: 1px solid #333;

    &:hover {
      background: #ffffff;
    }
  }
}