.root {
  width: 100%;
}

.biography {
  display: flex;
  justify-content: center;
  align-items: center;
}

.biographyContent {
  padding: 64px 0 64px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.paragraph {
  margin-bottom: 10px;
}

.imgWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img {
  margin: 20px;
}