.root {
  width: 100%;
}

.biography {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

.biographyContent {
  padding: 64px 0 64px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.paragraph {
  margin-bottom: 10px;
}

.imgWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img {
  margin: 20px;
}

.anchorHeading {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: .9;
  }
}

.anchor {
  padding: 0 5px;

  svg {
    width: 20px;
    height: 20px;

    &:hover {
      opacity: .9;
    }
  }

}